<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjRut9rH6fvzFsT5YOW-6wYUu49mLd5DM</string>
	<key>GCM_SENDER_ID</key>
	<string>297970635159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackaton</string>
	<key>PROJECT_ID</key>
	<string>hackathon-529c2</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-529c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297970635159:ios:cb02997af8ad6b2817b4d2</string>
</dict>
</plist>